.page {
  padding: 15px 20px;
}

.block-1 {
  display: flex;
  gap: 20px;
  height: 124px;
  margin-bottom: 20px;
}

.block-2 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.block-3 {
  display: flex;
  gap: 20px;
}

.card {
  padding: 12px;
  border-radius: 12px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.header-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.avatar-container,
.personal-info,
.languages-info {
  height: 100%;
}
