.experience-info {
  display: flex;
  flex-direction: column;
  width: 411px;
  height: 359px;
  gap: 16px;
}

.experience-info__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-info__list-item {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
  color: #000;
}

.experience-info__list-item.selected {
  background: #28d979;
  color: #fff;
}

.experience-info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-info__period {
  font-size: 8px;
  line-height: 150%;
  font-weight: 500;
}

.experience-info__label {
  padding: 2px 6px;
  border-radius: 59px;
  font-size: 8px;
  line-height: 155%;
  font-weight: 500;
  color: #ddf163;
  background-color: #7e731266;
}

.experience-info__content {
  display: flex;
  justify-content: space-between;
}

.experience-info__job {
  display: flex;
  flex-direction: column;
}

.experience-info__job-speciality {
  font-size: 10px;
  line-height: 150%;
  font-weight: 500;
}

.experience-info__job-bottom {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 8px;
}

.experience-info__list-item.selected .experience-info__job-bottom {
  color: #ebf9f2;
}

.experience-info__job-name,
.experience-info__job-time {
  font-size: 8px;
  line-height: 150%;
}

.experience-info__responsibility-list {
  width: 239px;
}

.experience-info__responsibility-list-item {
  font-size: 8px;
  line-height: 150%;
}
