.tools-info {
  width: 124px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tools-info__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tools-info__list-item {
  width: 76px;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 4px;
  background-color: #fff;
  position: relative;
}

.tools-info__label {
  padding: 2px 6px;
  border-radius: 59px;
  background: #000;
  color: #fff;
  font-size: 5px;
  line-height: 142%;
  font-weight: 500;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tools-info__tools-list {
  display: flex;
  gap: 16px 0px;
  flex-wrap: wrap;
}

.tools-info__tools-list-item {
  flex: 0 50%;
  display: flex;
  box-sizing: border-box;
}

.tools-info__tools-list-item:nth-child(odd) {
  justify-content: end;
  padding-right: 8px;
}
.tools-info__tools-list-item:nth-child(even) {
  justify-content: start;
  padding-left: 8px;
}

.tools-info__icon {
}
